<a href="/login">Login</a>

<p>Welcome to Find A Doctor! Here you can search for doctors aswell as look at their reviews.</p>

<h2>Top Rated Doctors From Each Category</h2>
{{#if docs.length}}
<ul>
    {{#each docs}}
    <li>
        <h3 class="speciality">{{this.speciality}}</h3>
        <dl>
            <dt>Name</dt>
            <dd>{{this.doctor.name}}</dd>
            <dt></dt>
        </dl>
    </li>
    {{/each}}
</ul>
{{else}}
<p class="not-found">We're sorry, but there are no current Doctors.</p>
{{/if}}